<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8"/>
    <title>Exchanger</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

<div ng-controller="upload">
    <input type="file" file-model="fileName" />
    <button ng-click="uploadFile(fileName)">Upload File</button>
</div>

</body>
</html>