<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Ввійти</title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/registration.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/exchanger/login">Exchanger</a>
            </div>
            <div class="navbar-text navbar-right">
                <form th:action="@{/exchanger/registration}" method="get">
		            <button class="btn btn-lg btn-success" type="Submit">Зареєструватись</button>
	            </form>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form autocomplete="off" th:action="@{/exchanger/login}" method="POST">
                <input type="text" maxlength="254" id="login" name="login"  th:placeholder="Логін" class="form-control" /> <br/>
                <input type="password"  maxlength="254" th:placeholder="Пароль" id="password" name="password" class="form-control" /> <br />
                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Логін або пароль не вірні</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Ввійти"></button>
            </form>
        </div>
    </div>
</div>
<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div ng-app="admin" ng-controller="currentTimeDate" >
        <b>{{clock  | date:'HH:mm:ss  --  dd/MM/yyyy'}}</b>
    </div>
</footer>
</body>
</html>