<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Exchanger</title>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/angularjs/angular.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body ng-controller="main" data-th-attr="ng-init='senderUserId = \''+${currentUserId}+'\''">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" title="Вихід" href="/logout">Exchanger</a>
            </div>
            <div class="navbar-text navbar-left">
                <button class="btn btn-info btn-block" ng-click="clearPostMenu()" data-target="#postInformation" data-toggle="modal">Додати новину</button>
            </div>
            <span th:utext="${msgStatus}"></span>
            <div class="navbar-text navbar-right">
                <span th:utext="${currentUser}"></span>
                <span style="color:#35386b;font-weight:bold" th:utext="${userName}" data-th-attr="ng-init='senderFullName = \''+${userName}+'\''"></span>
            </div>
        </div>
        <div ng-show="isAlertShow">
            <div ng-show="isSuccess" class="alert alert-success alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{body}}</strong>
            </div>
            <div ng-show="!isSuccess" class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{body}}</strong>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid" ng-controller="sortController">
  <div class="row">
    <div class="col-sm-2" >
        <button class="btn btn-default btn-block" ng-click="getReceiveMessages()">Одержані повідомлення</button>
        <button class="btn btn-default btn-block" ng-click="getSendMessages()">Відправлені повідомлення</button>
        <button class="btn btn-default btn-block" ng-click="getMyInfo()">Мої опубліковані новини</button>
        <button class="btn btn-default btn-block" ng-click="getAllInfo()">Новини</button>
    </div>
    <div class="col-md-8">
         <table class="table table-hover table-bordered table-striped">
             <thead ng-show="headShow">
                <tr>
                    <th></th>
                    <th>
                        <a href="#" ng-click="sortType = 'userFullName'; sortReverse = !sortReverse">
                            Користувач
                            <span ng-show="(sortType == 'userFullName') &amp;&amp; (!sortReverse)" class="fa fa-arrow-circle-down"></span>
                            <span ng-show="(sortType == 'userFullName') &amp;&amp; (sortReverse)" class="fa fa-arrow-circle-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'theme'; sortReverse = !sortReverse">
                            Тема
                            <span ng-show="(sortType == 'theme') &amp;&amp; (!sortReverse)" class="fa fa-arrow-circle-down"></span>
                            <span ng-show="(sortType == 'theme') &amp;&amp; (sortReverse)" class="fa fa-arrow-circle-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'sendDate'; sortReverse = !sortReverse">
                            Дата
                            <span ng-show="(sortType == 'sendDate') &amp;&amp; (!sortReverse)" class="fa fa-arrow-circle-down"></span>
                            <span ng-show="(sortType == 'sendDate') &amp;&amp; (sortReverse)" class="fa fa-arrow-circle-up"></span>
                        </a>
                    </th>
                </tr>
             </thead>
             <tbody ng-show="!showMessages">
                <tr ng-repeat-start="info in informations | orderBy:sortType:sortReverse" class="pointer">
                    <td style="width: 5%;"><button title="Видалити" ng-show="isMyInfo" class="btn btn-xs btn-danger" ng-click="deleteInformation(info.id)">X</button></td>
                    <td style="width: 15%;" ng-click="showDetails = !showDetails">{{info.userFullName}}</td>
                    <td style="width: 75%;" ng-click="showDetails = !showDetails">{{info.theme}}</td>
                    <td style="width: 20%;" ng-click="showDetails = !showDetails">{{info.sendDate | date:'dd/MM/yyyy  HH:mm:ss'}}</td>
                </tr>
                <tr ng-repeat-end="info in informations" ng-show="showDetails">
                    <td colspan="3">{{info.value}}</td>
                    <td><a target="_blank" ng-if="info.file != null" href="/main/downloadFile/{{info.file}}">Скачати</a></td>
                </tr>
             </tbody>
             <tbody ng-show="showMessages">
                 <tr ng-repeat-start="mes in messages | orderBy:sortType:sortReverse" class="pointer">
                     <td style="width: 5%;"><button title="Видалити" ng-show="isSendMessages" class="btn btn-xs btn-danger" ng-click="deleteMessage(mes.id)">X</button></td>
                     <td style="width: 15%;" ng-click="showDetails = !showDetails">{{isSendMessages ? mes.receiverFullName : mes.senderFullName}}</td>
                     <td style="width: 75%;" ng-click="showDetails = !showDetails">{{mes.theme}}</td>
                     <td style="width: 20%;" ng-click="showDetails = !showDetails">{{mes.sendDate | date:'dd/MM/yyyy  HH:mm:ss'}}</td>
                 </tr>
                 <tr ng-repeat-end="mes in messages" ng-show="showDetails">
                     <td colspan="3">{{mes.value}}</td>
                     <td><a target="_blank" ng-if="mes.file != null" href="/main/downloadFile/{{mes.file}}">Скачати</a></td>
                 </tr>
             </tbody>
         </table>
    </div>
    <div class="col-sm-2" style="background-color:lavender;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"> <i class="fa fa-search"></i></div>
                                        <input type="text" class="form-control" placeholder="Пошук" ng-model="searchSurname" />
                                    </div>
                            </div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th>
                        <div class="form-group">
                            <select ng-init="optionsValue = '1'" ng-model="optionsValue" class="form-control" ng-change="getUsers(optionsValue)">
                                <option value="1">Всі користувачі</option>
                                <option value="2">Цікаві нам</option>
                                <option value="3">В мережі</option>
                            </select>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | filter:searchSurname" class="pointer">
                    <td data-target="#options" data-toggle="modal" ng-click="fillUser(user)">{{user.subvision +" - ("+user.surname+" "+user.name+")"}}}</td>
                </tr>
            </tbody>
         </table>
    </div>
  </div>
</div>
<footer class="footer" style="position: absolute; bottom:0;background-color: lavender; width: 100%">
    <div ng-controller="currentTimeDate" class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <b>{{clock  | date:'HH:mm:ss  --  dd/MM/yyyy'}}</b>
            </div>
            <div class="col-md-7">
                <button ng-click="goBack()" class="btn btn-link  btn-md">Назад</button>
                <label style="color: #2e6da4">{{position+1}}</label>
                <button ng-click="goForward()" class="btn btn-link  btn-md">Вперед</button>
            </div>
        </div>
    </div>
</footer>
<!-- Options -->
            <div class="modal fade" id="options" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <strong>{{user.subvision +" - ("+user.surname+" "+user.name+")"}}</strong>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group" ng-show="!isSubscriber">
                                    <button data-dismiss="modal" class="btn btn-info form-control" ng-click="subscribeOn(user)">Підписатись</button>
                                </div>
                                <div class="form-group" ng-show="isSubscriber">
                                    <button data-dismiss="modal" class="btn btn-info form-control" ng-click="subscribeOff(user)">Більше не цікавитись</button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success form-control" ng-click="clearSendMenu()" data-target="#sendMessage" data-toggle="modal" data-dismiss="modal">Відправити особисте повідомлення</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!-- Send message  -->
            <div class="modal fade" id="sendMessage" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4> Нове повідомлення </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input id="messageTheme" name="messageTheme" type="text" ng-model="message.theme" placeholder="Тема" maxlength="254" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <textarea id="messageValue" name="messageValue" rows="5" cols="50" ng-model="message.value" placeholder="Текст повідомлення" maxlength="20000" class="form-control"></textarea>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input id="messageUploadFile" name="messageUploadFile" type="file" file-model="fileName"/>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="sendMessage(message, fileName)">Відправити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<!-- Post information-->
            <div class="modal fade" id="postInformation" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4> Нова інформація </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input id="infoTheme" name="infoTheme" type="text" ng-model="information.theme" placeholder="Тема" maxlength="254" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <textarea id="infoValue" name="infoValue" rows="5" cols="50" ng-model="information.value" placeholder="Короткий опис" maxlength="20000" class="form-control"></textarea>
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-9">
                                        <input id="infoUploadFile" name="infoUploadFile" type="file" file-model="fileName"/>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" data-dismiss="modal" class="btn btn-primary" ng-click="postInfo(information, fileName)">Опублікувати</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

</html>