<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Exchanger</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body ng-controller="main">
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/exchanger/logout">Exchanger</a>
            </div>
            <div class="navbar-text navbar-right">
                <span style="color:#35386b;font-weight:bold" th:utext="${userName}"></span>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" >
        <button class="btn btn-link btn-block" ng-click="allMessages()">Всі повідомлення</button>
        <button class="btn btn-link btn-block" ng-click="sendMessages()">Вихідні</button>
        <button class="btn btn-link btn-block" ng-click="receiveMessages()">Вхідні</button>
        <button class="btn btn-link btn-block" ng-click ="clearSendMenu()" data-target="#sendMessage" data-toggle="modal" id="sendId">Вдправити повідомлення</button>
    </div>
    <div class="col-sm-8" >
         <table class="table table-bordered table-striped" >
             <tr ng-repeat-start="mes in messages">
                 <td>{{mes.sendDate | date:'dd/MM/yyyy -- HH:mm:ss'}}</td>
                 <td>{{mes.message}}</td>
                 <!--<td><a target="_blank" href="{{mes.file}}">{{mes.file}}</a></td> -->
                 <td><img src="{{mes.file}}" />{{mes.file}}</td>
                 <td ng-click="showDetails = !showDetails">деталі</td>
             </tr>
             <tr ng-repeat-end="mes in messages" ng-show="showDetails">
                 <td>{{mes.fromLogin}}</td>
                 <td>{{mes.toLogin}}</td>
             </tr>
         </table>
    </div>
    <div class="col-sm-2" style="background-color:lavender;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Користувачі в мережі</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activeUser in activeUsers">
                    <td>{{activeUser}}</td>
                </tr>
            </tbody>
         </table>
    </div>
  </div>
</div>
<footer class="footer" style="position: absolute; bottom:0;background-color: #e9ffe5; width: 100%">
    <div ng-controller="currentTimeDate" class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <b>{{clock  | date:'HH:mm:ss  --  dd/MM/yyyy'}}</b>
            </div>
            <div class="col-md-7">
                <button ng-click="goForward()" class="btn btn-link  btn-md">Вперед</button>
                <button ng-click="goBack()" class="btn btn-link  btn-md">Назад</button>
            </div>
        </div>
    </div>
</footer>
<!-- Modal save Hotel-->
            <div class="modal fade" id="sendMessage" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4> Нове повідомлення </h4>
                        </div>
                        <form name="sendMessage">
                            <div class="modal-body">
                                <div class="form-group">
                                    <select ng-required="true" name = "address" class="form-control" ng-model="mes.toLogin">
                                        <option value=""></option>
                                        <option ng-repeat="user in allUsers" value="{{user}}">{{user}}</option>
                                    </select>
                                    <span class="help-block" ng-show="sendMessage.address.$invalid" style="font-size: 20; color: #FF1C19;">
                                        Введіть адресу отримувача
                                    </span>
                                </div>
                                <div>
                                    <textarea rows="4" cols="50" ng-model="mes.message" class="form-control" placeholder="Текст повідомлення"></textarea>
                                </div>
                                <div class="form-group">
                                    <input name="uploadFile" id="uploadFileId" type="file" file-model="fileName" class="file" value="Прикріпити файл"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span style="font-size: 20; color: #ff171a;" ng-show="msgStatus">
                                    {{msgStatus}}
                                </span>
                                <button ng-disabled="sendMessage.address.$invalid" ng-click="send(mes, fileName)" type="submit" class="btn btn-primary">Відправити</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

</body>
</html>