<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Реєстрація</title>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/registration.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/exchanger/login">Exchanger</a>
            </div>

        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form autocomplete="off" th:action="@{/exchanger/registration}" method="post" th:object="${user}">
                <input  th:field="*{login}" type="text" maxlength="254" id="login" name="login"  placeholder="Логін" class="form-control" />
                <div align="center" th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="font-size: 20; color: #FF1C19;" /> <br/>
                <input  th:field="*{password}" type="password" maxlength="254" placeholder="Пароль" id="password" name="password" class="form-control" />
                <div align="center" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="font-size: 20; color: #FF1C19;" /> <br />
                <input  th:field="*{name}" type="text"  maxlength="254" placeholder="Ім'я" id="name" name="name" class="form-control" />
                <div align="center" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="font-size: 20; color: #FF1C19;"/> <br />
                <input  th:field="*{surname}" type="text"  maxlength="254" placeholder="Прізвище" id="surname" name="surname" class="form-control" />
                <div align="center" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="font-size: 20; color: #FF1C19;"/> <br />
                <select th:field="*{subvision}" name="subvision" class="form-control" placeholder="Підрозділ">
                    <option value=""> </option>
                    <option value="ВА">ВА</option>
                    <option value="ВАРВ">ВАРВ</option>
                    <option value="ЗагінРР">ЗагінРР</option>
                    <option value="КП">КП</option>
                </select>
                <div align="center" th:if="${#fields.hasErrors('subvision')}" th:errors="*{subvision}" style="font-size: 20; color: #FF1C19;"/> <br />
                <button type="submit" class="btn btn-lg btn-success btn-block">Зареєструвати</button>
                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>
<footer class="footer" style="position: absolute; bottom:0;background-color: #f5f5f5; width: 100%">
    <div ng-app="admin" ng-controller="currentTimeDate" >
        <b>{{clock  | date:'HH:mm:ss  --  dd/MM/yyyy'}}</b>
    </div>
</footer>
</body>
</html>